.watermark-section {
			text-align: center;
			position: relative;
			height: 27px;
			background: #ffc420;
		}
		.watermark-section img {
			position: relative;
		}
		.watermark-section .img-container {
			position: absolute;
			left: 50%;
			transform:  translate(-50%, -50%);
			top: 50%;
			z-index: 999;
		}
body.widget-snippet .watermark-section {
    margin-top: 120px;
}
