*{
    padding: 0;
    margin: 0;
}
.navhome{
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex: 1;
}
.Navlink{
    position: relative;
}
.Navlink.active::before{
    content: "";
    width: 90%;
    height: 2px;
    background: #FFC420;
    bottom: 0;
    left: 0;
    position: absolute;
}
.Navlink:hover::before{
    content: "";
    width: 90%;
    height: 2px;
    background: #FFC420;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: ease-in;
}
.logo{
    flex: 1;
}
.findu{
    background:#FFC420;
    width: 148px;
    text-align: center;
    cursor: pointer;
    padding-top: 3%;
}
.findu:hover{
    background-color: black;
}
.findu .f{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.findu .f img{
    width: 28px;
}
.right-items{
    display: flex;
    align-items: center;
    flex: 5;
}
ul{
    list-style: none;
    padding: 20px;
    margin-left: 30px;
}
ul li{
    display: inline-block;
}
.Navlink{
    color: black;
    padding: 13px 11px 15px;
    font-weight: bold;
    text-decoration: none;
}
.linkicon{
    color: black;
    padding-right: 20px;
    font-size: 23px;
    line-height: 5.6;
}

.linkicon:hover{
    color:#FFC420;
}
.findu .img{
    top: -16px;
    left: 70px;
    font-size: 25px;
}
                            /* HOME BODY */
.slider-body{
    height: 500px;
    overflow: hidden;
}
.slide{
    display: flex;
    width: 299.8%;
}
.slide0{
    background: url(./resources/f320379a/albums/album-1/banner6420.jpg);
}
.slider-body span{
    position: absolute;
    margin-top: 7%;
    margin-left: 18%;
    display: flex;
    justify-content:space-between;
    width: 80px;
}
.slide0 span img{
    width: 30px;
    cursor: pointer;
}
.slide1{
    background: url(./resources/f320379a/albums/album-1/SUNPLAZA_250915_334136f4.jpg);
}
.slide2{
    background: url(./resources/f320379a/albums/album-1/SUNPLAZA_250915_3851a7ab.jpg);
}
.active{
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text .learn .nav{
    text-decoration: none;
    color: black;
}
.text{
    margin-top:12%;
    margin-left: 18%;
    font-size: 20px;
    color: white;
}
.text h1{
    font-size: 68px;
}
.text p{
    margin-top: -18px;
}
.nav{
    font-size: 14px;
    display: flex;
    width: 140px;
    background:#FFC420;
    font-weight: 500;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.learn .nav:hover{
    color: white;
    background: black;
}
.favorite-store{
    height: 400px;
    display: flex;
}
.favorite1{
    background:url(./pub/f320379a/editor-uploaded-image/menu-favourites-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    color: white;
    width: 50%;
    padding-top: 80px;
}
.favorite1:hover h1{
    color:yellow;
}
.favorite2{
    background:url(./images/find-store-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.favorite2 .find{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
    background:#FFC420;
    padding: 7px 50px;
    font-size: 27px;
}
.favorite2 .find:hover{
    background-color: black;
    color:#FFC420;
}
.find .img img{
    margin-bottom: 2px;
    width: 30px;
}
.widget{
    height: 500px;
    display: flex;
}
.widget1,.widget2{
    width: 50%;
}
.widget2{
    background: url(./images/join-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.widget-div1{
    background: url(./resources/f320379a/blog-post/post-1/600-blog-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.widget-link1{
    text-decoration: none;
    color: white;

}
.widget-link1 .date,.card .date{
    background:#FFC420;
    border-radius: 100%;
    width: 15%;
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
    color: black;
    margin-left: 90px;
    position: relative;
    height: 45px;
}
.widget-link1 .date .date2{
    position: absolute;
    top: 25px;
    right: 18px;
}
.widget-div2{
    display: flex;
    height: 50%;
}
.widget-div-chilld1,.widget-div-chilld2{
    width: 50%;
    cursor: pointer;
}
.widget-div-chilld1{
    background: url(./images/blog-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-div-chilld2{
    background: url(./images/blog-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.dh{
    font-size: 20px;
    text-align: center;
}
.widget-div-chilld1 .date,.card .date{
    width: 30px;
    height: 40px;
    padding: 14px 18px;
}
.widget-div-chilld2 .date{
    width: 30px;
    height: 40px;
    padding: 14px 18px;
}
.d1,.d2{
    margin-left: 4px;
}
.d2 {
   position: absolute;
   top: 25px;
   left: 14px;
}
.widget2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-us{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-left: 130px;
}
.join-link{
    color: black;
    background:#FFC420;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 40px;
}
.join-link:hover{
    background: black;
    color: white;
    transition: .5s;
}
.water-mark{
    height: 30px;
    background:#FFC420;
}
.water-mark-image{
    position: absolute;
    top: 212%;
    width:14%;
    left: 45%;
}
.widget-div1:hover .widget-link1{
    color: yellow;
}
.widget-div-chilld1:hover .widget-link1{
    color: yellow;
}
.widget-div-chilld2:hover .widget-link1{
    color: yellow;
}
                                        /* footer */
.footer1,.findme{
    margin-top: 11%;
   text-align: center; 
   font-size: 23px;
   padding-left: 60px;
   padding-right:60px;
}
.footer1 .lin{
    text-decoration: none;
    color: black;
}
.footer1 p{
    padding: 35px 200px 35px 500px;
    background: #ededf0;
    font-size: inherit;
    font-size: 30px;
}
.footer1 .tex{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer1 .f{
    background:#FFC420;
    padding: 6px 50px;
    font-weight: 600;
}
.footer1 .f:hover{
    background: black;
    color: white;
}
.head-footerlink{
    background:url(./images/find-store-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 3px;
    color: white;
}
li .footerlink{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 650;
}
.footerlink:hover{
    color:#FFC420;
}
ul h4{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 17px;
}
.icon-footer{
    flex: 1;
    color: white;
    margin-left: 130px;
    margin-bottom: 35px;
}
.f-link{
    color: white;
    font-size: 32px;
    padding-left: 10px;
}
.angle{
    position: absolute;
    top: 304%;
    left: 46%;
    background: white;
    height: 13%;
    width: 7%;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.angle:hover{
    color:white;
}
.fa-angle-right{
    font-size: 40px;
    transform: rotate(270deg);
    background:#FFC420;
    border-radius: 100%;
    padding: 16px 30px;
}
.about-us{
    height: 550px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.about-angle{
    top: 175.7%;
}
.about1{
    background:url(./images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
}
.about2{
    background: url(./images/about-text-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    font-size: 18px;
    line-height: 25px;
    padding: 40px 0px 0px 45px;
}
.about2 h2{
    font-size: 36px;
    line-height: 60px;
}
.about2 h6{
font-size: 20px;
margin-top: 30px;
}
.about2 .aboutnav{
    color: black;
}
.aboutnav:hover{
    color: white;
}
                                        /* gallery */
.gallery-div1{
    display: flex;
}.gallery-child5{
    background:url(./images/food5.jpg);
    width: 40%;
    height: 520px
}
.gallery-child1{
    background:url(./images/food1.jpg);
    width: 50%;
    height: 620px;
    padding: 100px 50px 0px 50px;
}
.gallery-child4{
    background: url(./images/food3.jpg);
    width: 40%;
    height: 520px;
}
.team2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: white;
    line-height: 40px;
}
.gallery-child1 h2{
    color:#FFC420;
    font-size: 50px;
    line-height: 45px;
}
.gallery-child1 p{
    padding-top: 40px;
    font-weight: bold;
}
.gallery-child6{
    height: 550px;
    background: url(./images/food6.jpg);
}
.gallery-child2{
    background: url(./images/food2.jpg);
    height: 670px;
}
.gallery-child3{
    background: url(./images/food4.jpg);
    height: 550px;
}
.team1{
    width: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    height: 100%;
    background: none;
}
.overlay:hover{
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color:#FFC420;
}
.overlay h1{
    display: none;
}
.overlay:hover h1{
    display: block;
}
.gallery-div2{
    background: url(./images/food7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.gallery-angle{
    top: 433.8%;
}
                                        /* NEWS */
.news-head{
    background: url(./images/find-store-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.news-cards1{
    display: flex;
    padding-left: 30px;
    margin-top: 8%;
}
.card{
    text-align: center;
}
.card .date .d2{
    margin-top: 4px;
}
.card img{
    width: 93%;
    text-align: center;
}
.card .date{
    font-size: 18px;
    bottom: 35px;
    left: 14%;
    border: 7px solid white;
}
@media screen  and (max-width:992px){
    .findu{
        width: 100px;      
    }
} 